---
layout: base.njk
title: Essays
---

<h1 class="text-2xl font-semibold mb-6">Essays</h1>
<ul class="space-y-6 link-clean">
  {% for post in collections.posts | reverse %}
    <li>
      <a class="block" href="{{ post.url }}">
        <div class="font-medium">{{ post.data.title }}</div>
        <div class="text-sm opacity-70">{{ post.date | readableDate }}</div>
      </a>
    </li>
  {% endfor %}
</ul>